@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-logos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-logos {
  animation: scroll-logos 30s linear infinite;
}
